name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: AlexMan123456/github-actions/npm-ci@73544f6e9a88630a2a0aa0036d35f8043491d05e # v2.0.2
        with:
          run-tests: false
