name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: AlexMan123456/github-actions/.github/actions/npm-ci@7cfde49e1e35cf29510a080dadccf249c0dd157b # v2.2.0
        with:
          run-tests: false
