name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: AlexMan123456/github-actions/npm-ci@0c5c39c256967feb3c4653b65d7f47c0e1b712c7 # v2.1.5
        with:
          run-tests: false
